body {
    font-family: IRANSans, sans-serif;
    background-color: #f7f7f7;
}

.card {
    border-radius: 12px;
}

.navbar-brand {
    font-weight: bold;
}

footer {
    padding: 20px 0;
    text-align: center;
    color: #777;
}
